 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Movie App</h1>
                <p class="lead">Film bilgiler sitesi Anasayfa</p>
            </div>
        </div>
</header>